[submodule "CGCore\\extern\\glfw"]
	path = CGCore\\extern\\glfw
	url = https://github.com/glfw/glfw
[submodule "CGCore\\extern\\imgui"]
	path = CGCore\\extern\\imgui
	url = https://github.com/ocornut/imgui/tree/docking
[submodule "CGCore\\extern\\spdlog"]
	path = CGCore\\extern\\spdlog
	url = https://github.com/gabime/spdlog
[submodule "CGCore\\extern\\glm"]
	path = CGCore\\extern\\glm
	url = https://github.com/g-truc/glm
