[submodule "CGCore/extern/glfw"]
	path = CGCore/extern/glfw
	url = https://github.com/glfw/glfw
[submodule "CGCore/extern/imgui"]
	path = CGCore/extern/imgui
	url = https://github.com/TheCherno/imgui
[submodule "CGCore/extern/spdlog"]
	path = CGCore/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CGCore/extern/glm"]
	path = CGCore/extern/glm
	url = https://github.com/g-truc/glm
[submodule "CGCore/extern/entt"]
	path = CGCore/extern/entt
	url = https://github.com/skypjack/entt
[submodule "CGCore\\extern\\cereal"]
	path = CGCore\\extern\\cereal
	url = https://github.com/chen1180/cereal
